@define-color window_bg_color #1e1e2e;
@define-color accent_bg_color #fab387;
@define-color theme_fg_color #cdd6f4;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #cdd6f4;

* {
  all: unset;
}

window:not(.has-input) .content-container,
window:not(.has-input) .content-container *,
window:not(.has-input) .keybinds,
window:not(.has-input) .keybinds * {
  opacity: 0;
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

window.has-input .content-container {
  margin-top: 10px;
  padding: 0 10px;
}

window.has-input .keybinds {
  margin-top: 10px;
  padding: 10px 10px 10px;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid #313244;
  border-radius: 0;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: transparent;
  padding: 0;
  border-radius: 5px;
  margin-top: 400px;
}

window.has-input .box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 5px;
  background: @window_bg_color;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 10px;
}

window.has-input .search-container {
  box-shadow: none;
}


.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: #45475a;
}

.input {
  caret-color: @accent_bg_color;
  background: #313244;
  padding: 10px;
  color: @theme_fg_color;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 0;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.15);
  border-radius: 0;
  padding: 10px;
}

child:selected .item-box,
row:selected .item-box {
  background: alpha(@accent_bg_color, 0.2);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid #313244;
  border-radius: 0;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid #313244;
  font-size: 12px;
  color: @theme_fg_color;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 0;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages {
  font-family: monospace;
}
