# Externally modified config files:
externally_modified/

# oh-my-zsh cache
.config/omz/ohmyzsh/cache/

{{ if ne .chezmoi.os "linux" -}}

# Ignore linux specific configs:
.config/chromium-flags.conf
.config/electron-flags.conf
.config/spotify-launcher.conf

.config/hypr/
.config/hyprpanel/
.config/kanata/
.config/qt6ct/
.config/systemd/
.config/rofi/
.config/uwsm/

{{ else if ne .chezmoi.os "darwin" -}}

# Ignore macos specific configs:
.config/aerospace/
.config/borders/
.config/karabiner/
.config/sketchybar/
.config/skhd/
.config/yabai/

{{- end }}
