{{ if eq .chezmoi.os "linux" -}}

[".config/rofi/themes/spotlight-dark.rasi"]
type = "file"
url = "https://raw.githubusercontent.com/newmanls/rofi-themes-collection/refs/heads/master/themes/spotlight-dark.rasi"
refreshPeriod = "672h"

[".config/qt6ct/colors/catppuccin-mocha-flamingo.conf"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-frappe-flamingo.conf"
refreshPeriod = "672h"

{{- end }}

[".config/btop/themes/catppuccin_mocha.theme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_mocha.theme"
refreshPeriod = "672h"

[".config/zsh/omz"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = false
stripComponents = 1
refreshPeriod = "168h"
include = [
  "*/plugins/aliases/**",
  "*/plugins/brew/**",
  "*/plugins/direnv/**",
  "*/plugins/git/**",
]
