{{ if and (eq .chezmoi.os "linux") (not .forDevcontainer) -}}

 [".config/hypr/themes/catppuccin/mocha.conf"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/hyprland/refs/heads/main/themes/mocha.conf"
refreshPeriod = "672h"  # every 28 days

[".config/rofi/themes/spotlight-dark.rasi"]
type = "file"
url = "https://raw.githubusercontent.com/newmanls/rofi-themes-collection/refs/heads/master/themes/spotlight-dark.rasi"
refreshPeriod = "672h"  # every 28 days

[".config/qt6ct/colors/catppuccin-mocha-flamingo.conf"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-frappe-flamingo.conf"
refreshPeriod = "672h"  # every 28 days

{{- end }}

[".config/bat/themes/catppuccin_mocha.tmTheme"]
type = "file"
url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
refreshPeriod = "672h"  # every 28 days

{{ if not .forDevcontainer -}}
[".config/btop/themes/catppuccin_mocha.theme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_mocha.theme"
refreshPeriod = "672h"  # every 28 days

{{- end }}

[".config/delta/themes/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"
refreshPeriod = "672h"  # every 28 days

[".config/zsh/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/zsh/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/zsh/plugins/fzf-tab"]
type = "archive"
url = "https://github.com/Aloxaf/fzf-tab/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/zsh/plugins/fzf-tab-source"]
type = "archive"
url = "https://github.com/Freed-Wu/fzf-tab-source/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/zsh/plugins/zsh-vi-mode"]
type = "archive"
url = "https://github.com/jeffreytse/zsh-vi-mode/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/tmux/plugins/tpm"]
type = "archive"
url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/tmux/plugins/tmux-sensible"]
type = "archive"
url = "https://github.com/tmux-plugins/tmux-sensible/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"  # every 7 days

[".config/tmux/plugins/tmux"]
type = "archive"
url = "https://github.com/catppuccin/tmux/archive/refs/tags/v2.1.3.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "672h"  # every 28 days

{{ if not .forDevcontainer -}}
[".config/yazi/theme.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/yazi/refs/heads/main/themes/mocha/catppuccin-mocha-blue.toml"
refreshPeriod = "672h"  # every 28 days

{{- end }}
