# vim: ft=gitconfig

[user]
  name = "Mark Arranz"
  email = "4390451+MarkArranz@users.noreply.github.com"
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main

# Configure Vim Diff as Merge Tool
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = zdiff3
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
          -c '$wincmd w' -c 'wincmd J'

{{ if .forWork -}}

[includeIf "gitdir:~/Code/work"]
    path = ~/.gitconfig_work

{{- else -}}

[includeIf "gitdir:~/Code/public"]
    path = ~/.gitconfig_public

[includeIf "gitdir:~/Code/learning"]
    path = ~/.gitconfig_learning

[includeIf "gitdir:~/Code/private"]
    path = ~/.gitconfig_private

{{- end }}
