#######################
# Environment Variables
#######################

{{ if eq .chezmoi.os "linux" -}}

# Set neovim as the default text editor:
export EDITOR=/usr/bin/nvim

# Make electron apps wayland aware:
export ELECTRON_OZONE_PLATFORM_HINT=wayland

{{ else if eq .chezmoi.os "darwin" -}}

# Set neovim as the default text editor:
export EDITOR=/opt/homebrew/bin/nvim

{{- end }}

# Use neovim as the default man page viewer:
export MANPAGER='nvim +Man!'

# Requires oh-my-zsh:
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$HOME/.oh-my-zsh/custom"

# Enable bitwarden ssh agent:
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"

# Rustup
. "$HOME/.cargo/env"

