# vim: ft=gitconfig

[user]
  name = "Mark Arranz"
  email = "4390451+MarkArranz@users.noreply.github.com"

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta

[init]
    defaultBranch = main

# Configure neovim as the difftool and mergetool: 
; [diff]
;     tool = "nvimdiff1"
; [merge]
;     tool = "nvimdiff2"

# Configure git-delta
[interactive]
    diffFilter = delta --color-only

[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
    features = catppuccin-mocha
    dark = true
    navigate = true

[merge]
    conflictStyle = zdiff3

[alias]
    clean-worktrees = "!~/.config/git/scripts/git-clean-worktrees.sh"

{{ if .forWork -}}

[includeIf "gitdir:~/Code/work/"]
    path = ~/.gitconfig_work

{{- else -}}

[includeIf "gitdir:~/Code/public/"]
    path = ~/.gitconfig_public

[includeIf "gitdir:~/Code/learning/"]
    path = ~/.gitconfig_learning

[includeIf "gitdir:~/Code/private/"]
    path = ~/.gitconfig_private

{{- end }}
