export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"

NVIM_PATH="$(which nvim)"

export EDITOR="${NVIM_PATH}"
export VISUAL="${NVIM_PATH}"

export MANPAGER="${NVIM_PATH} +Man!"

export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
export ZSH_CACHE_DIR="${XDG_CACHE_HOME}/zsh" # for omz plugins

export HISTFILE="${ZDOTDIR}/.zhistory"  # History filepath
export HISTSIZE=10000                   # Maximum events for internal history
export SAVEHIST=10000                   # Maximum events in history file

{{- if eq .chezmoi.os "linux" }}

# Make electron apps wayland aware:
export ELECTRON_OZONE_PLATFORM_HINT=wayland

{{- end }}
