# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi


###########
# OH-MY-ZSH
###########

ZSH_THEME="powerlevel10k/powerlevel10k"

# _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Handle omz updates using chezmoi settings in .chezmoiexternal:
zstyle ':omz:update' mode disabled

plugins=(
  aliases
  archlinux
  docker
  docker-compose
  git
  sudo
  zsh-syntax-highlighting
)

#########
# SOURCES
#########

# oh-my-zsh:
[[ ! -f  ~/.oh-my-zsh/oh-my-zsh.sh ]] || source $ZSH/oh-my-zsh.sh

# powerlevel10k:
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# node-version-manager:
[[ ! -f /usr/share/nvm/init-nvm.sh ]] || source /usr/share/nvm/init-nvm.sh

# rustup:
. "$HOME/.cargo/env"

{{ if eq .chezmoi.os "linux" -}}

## START: HYPRPANEL DEPENDENCIES
# bun completions:
[ -s "/home/mark/.bun/_bun" ] && source "/home/mark/.bun/_bun"

# bun:
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
## END: HYPRPANEL DEPENDENCIES

# go:
export PATH="$PATH:/usr/local/go/bin"

{{ else if eq .chezmoi.os "darwin" -}}

# homebrew:
eval "$(/opt/homebrew/bin/brew shellenv)"

# pyenv:
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"

{{- end }}


#########
# ALIASES
#########

# Use eza instead of ls:
alias ls=eza

# Find where aliases are declared:
alias which-alias="PS4='+%x:%I>' zsh -i -x -c '' |& grep "

# Use kitten ssh:
alias s="kitten ssh"

# Use kitty for git diff
alias kdiff="git difftool --no-symlinks --dir-diff"

{{ if eq .chezmoi.os "linux" -}}

# Edit hyprland conf file
alias hyprconf="nvim ~/.config/hypr/hyprland.conf"

{{- end }}
