#########
# LINUX #
#########
{{- if eq .chezmoi.os "linux" }}

# bun:
if [[ -s "$HOME/.bun/_bun" ]]; then
  source "$HOME/.bun/_bun"
  export BUN_INSTALL="$HOME/.bun"
  export PATH="$BUN_INSTALL/bin:$PATH"
fi

# node-version-manager:
export NVM_DIR="$HOME/.nvm"
if [[ -f /usr/share/nvm/init-nvm.sh ]]; then
  source /usr/share/nvm/init-nvm.sh
fi

# java (temurin):
[[ -d "$HOME/.local/jdks/jdk-21" ]] && export JAVA_HOME="$HOME/.local/jdks/jdk-21"
[[ -n "$JAVA_HOME" && -d "$JAVA_HOME/bin" ]] && export PATH="$JAVA_HOME/bin:$PATH"

# texlive:
[[ -d "/usr/local/texlive" ]] && export PATH="/usr/local/texlive/2025/bin/x86_64-linux:$PATH"

##########
# DARWIN #
##########
{{- else if eq .chezmoi.os "darwin" }}

# node-version-manager:
export NVM_DIR="$HOME/.nvm"
if [[ -s "/opt/homebrew/opt/nvm/nvm.sh" ]]; then
  source "/opt/homebrew/opt/nvm/nvm.sh"
  [[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ]] && source "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
elif [[ -s "$NVM_DIR/nvm.sh" ]]; then
  source "$NVM_DIR/nvm.sh"
  [[ -s "$NVM_DIR/bash_completion" ]] && source "$NVM_DIR/bash_completion"
fi

{{- end }}

{{- if eq .chezmoi.os "darwin" }}

# homebrew settings:
export HOMEBREW_NO_UPGRADE_AUTO_UPDATES_CASKS=1

{{- end }}

#######
# ALL #
#######

# go install:
[[ -e $(which go) ]] && export PATH="$PATH:$(go env GOBIN):$(go env GOPATH)/bin"

# mason.nvim:
[[ -d "$HOME/.local/share/nvim/mason/bin" ]] && export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"

# rustup
[[ -r "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

# starship:
[[ -x $(which starship) ]] && export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/starship.toml"

# uv & uvx
[[ -x "$HOME/.local/share/../bin/uv" ]] && export PATH="$HOME/.local/share/../bin:$PATH"

# zoxide:
[[ -x $(which zoxide) ]] && eval "$(zoxide init zsh)"
