OMZ_PLUGINS=(
  aliases
  {{- if eq .chezmoi.os "darwin" }}
  brew
  {{- end }}
  direnv
  git
  rust
)

for p in "${OMZ_PLUGINS[@]}"; do
  plug "$ZDOTDIR/omz/plugins/$p"
done

# Sketchybar interactivity overloads
function brew() {
  output=$(command brew "$@")
  local exit_status=$?

  echo "$output"

  if [[ $* =~ "upgrade" ]] || [[ $* =~ "update" ]] || [[ $* =~ "outdated" ]]; then
    sketchybar --trigger brew_update
  fi

  return $exit_status
}

