plug "zsh-users/zsh-syntax-highlighting"
plug "zsh-users/zsh-autosuggestions"

plug "jeffreytse/zsh-vi-mode"

plug "zap-zsh/supercharge"
plug "zap-zsh/exa"

OMZ_PLUGINS=(
  aliases
  {{- if eq .chezmoi.os "darwin" }}
  brew
  {{- end }}
  direnv
  git
)

for p in "${OMZ_PLUGINS[@]}"; do
  plug "$ZDOTDIR/omz/plugins/$p"
done

# Sketchybar interactivity overloads
function brew() {
  command brew "$@" 

  if [[ $* =~ "upgrade" ]] || [[ $* =~ "update" ]] || [[ $* =~ "outdated" ]]; then
    sketchybar --trigger brew_update
  fi
}

