plug "zsh-users/zsh-syntax-highlighting"
plug "zsh-users/zsh-autosuggestions"

plug "zap-zsh/supercharge"
plug "zap-zsh/exa"

OMZ_PLUGINS=(
  aliases
  {{- if eq .chezmoi.os "darwin" }}
  brew
  {{- end }}
  direnv
  git
)

for p in "${OMZ_PLUGINS[@]}"; do
  plug "$ZDOTDIR/omz/plugins/$p"
done
