################
### MONITORS ###
################

{{ if eq .chassisType "laptop" -}}

monitor = eDP-1, 2880x1800@59.99000, 0x0, 1.5

{{- else if eq .chassisType "desktop" -}}

monitor = DP-3, 3840x1600@174.97, 0x0, 1, bitdepth, 10, cm, auto

{{- else -}}

# Default:
monitor = , preferred, auto, 1

{{- end }}


#####################
### LOOK AND FEEL ###
#####################

general {
    {{ if eq .chassisType "laptop" -}}

    gaps_in   = 0
    gaps_out  = 0

    {{- else if eq .chassisType "desktop" -}}

    gaps_in   = 5
    gaps_out  = 5

    {{- end }}
}

decoration {
    blur {
        {{- if eq .chassisType "laptop" -}}
        # Laptop efficieny setting
        enabled = false
        {{- end }}
    }

    {{ if eq .chassisType "laptop" -}}

    shadow {
        # Laptop efficieny setting
        enabled = false
    }

    {{- end }}
}


#############
### INPUT ###
#############

{{ if eq .chassisType "laptop" -}}
input {
    kb_model = apple

    touchpad {
        natural_scroll  = true
        scroll_factor   = 0.8
    }
}

gesture = 4, horizontal, workspace

{{- end }}


###################
### KEYBINDINGS ###
###################

{{- if eq .chassisType "laptop" -}}
bindlt = , XF86PowerOff, exec, loginctl lock-session
{{- end }}

## SCREENSHOTS ##

{{ if eq .chassisType "laptop" -}}
# The key pressed determines **HOW** you want to capture a screenshot:
#   XF86LaunchA (Fn+F3): Manually select a rectangular region or window (by clicking on it)
#   XF86LaunchB (Fn+F4): Captures the currently active output
#
# Use modifier keys to change **WHERE** the screenshot data goes:
#   <Default>: Copy the screenshot data into the clipboard
#   SHIFT: Save the screenshot into a regular file
#   SUPER: Copy AND Save
#   ALT: Open the screenshot in an image editor.

# Selection screenshot:
bind = ,      XF86LaunchA, exec, grimblast copy area
bind = SHIFT, XF86LaunchA, exec, grimblast save area
bind = SUPER, XF86LaunchA, exec, grimblast copysave area
bind = ALT,   XF86LaunchA, exec, grimblast edit area

# Full screen screenshot:
bind = ,      XF86LaunchB, exec, grimblast copy output
bind = SHIFT, XF86LaunchB, exec, grimblast save output
bind = SUPER, XF86LaunchB, exec, grimblast copysave output
bind = ALT,   XF86LaunchB, exec, grimblast edit output

{{- else if eq .chassisType "desktop" -}}

# Use modifier keys to change **WHERE** the screenshot data goes:
#   <Default>: Copy the screenshot data into the clipboard
#   SHIFT: Save the screenshot into a regular file
#   SUPER: Copy AND Save
#   CTRL: Open the screenshot in an image editor.

# Selection screenshot:
bind = ,      Print, exec, grimblast copy area
bind = SHIFT, Print, exec, grimblast save area
bind = SUPER, Print, exec, grimblast copysave area
bind = CTRL,  Print, exec, grimblast edit area

{{- end }}


##################################
### WINDOW AND WORKSPACE RULES ###
##################################

{{ if eq .chassisType "desktop" -}}

# Steam Tinker Launch:
windowrule {
  name = float-stl
  match:class = yad

  float = on
}

# BakkesMod:
windowrule {
  name = ignore-bakkesmod
  match:initial_title = BakkesModInjectorCpp

  workspace = special silent
  no_initial_focus = on
  suppress_event = activatefocus
}

{{- end }}
