{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "oh-my-opencode@latest",
    "file://{{ .chezmoi.homeDir }}/.config/opencode/plugins/opencode-notifier"
  ],
  "mcp": {
    "notion": {
      "type": "remote",
      "url": "https://mcp.notion.com/mcp",
      "enabled": false
    }
  }
}
