# #################### #
# APPLICATION COMMANDS #
# #################### #

# semicolon - keycode 0x29
cmd - 0x29         : open -a kitty --args -1=yes
cmd + shift - 0x29 : open -na kitty --args -1=yes

{{ $browser := "Firefox" -}}
{{- if .forWork }}
{{- $browser = "Google Chrome" }}
{{- end -}}
cmd - b         : open -a "{{ $browser }}"
cmd + shift - b : open -na "{{ $browser }}"

cmd - e : open -na Finder $HOME

cmd + alt + ctrl - r : yabai --restart-service

# ############## #
# SPACE COMMANDS #
# ############## #

# Focus space with CMD + ALT + [\t | hl]
cmd + alt - tab : yabai -m space --focus recent
cmd + alt - h   : yabai -m space --focus prev
cmd + alt - l   : yabai -m space --focus next

# Move space to prev/next position with CMD + CTRL + ALT + [hl]:
cmd + ctrl + alt - h : yabai -m space --move prev
cmd + ctrl + alt - l : yabai -m space --move next

# Focus prev/next display with CMD + ALT + [jk]:
cmd + alt - j : yabai -m display --focus prev
cmd + alt - k : yabai -m display --focus next

# Move space to prev/next display with CMD + CTRL + ALT + [jk]:
cmd + ctrl + alt - j : yabai -m space --display prev
cmd + ctrl + alt - k : yabai -m space --display next

# Rotate window tree:
cmd + alt - r : yabai -m space --rotate 270 # clockwise
cmd + alt - u : yabai -m space --rotate 90  # counter-clockwise
 
# Focus space with CMD + [0-9]:
# yabai returns non-zero when focusing the already-focused space, so we
# guard the create-fallback to only fire when the target space is missing.
cmd - 1 : yabai -m space --focus 1
cmd - 2 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "2" ] || yabai -m space --focus 2 || (yabai -m space --create; yabai -m space --focus last)
cmd - 3 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "3" ] || yabai -m space --focus 3 || (yabai -m space --create; yabai -m space --focus last)
cmd - 4 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "4" ] || yabai -m space --focus 4 || (yabai -m space --create; yabai -m space --focus last)
cmd - 5 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "5" ] || yabai -m space --focus 5 || (yabai -m space --create; yabai -m space --focus last)
cmd - 6 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "6" ] || yabai -m space --focus 6 || (yabai -m space --create; yabai -m space --focus last)
cmd - 7 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "7" ] || yabai -m space --focus 7 || (yabai -m space --create; yabai -m space --focus last)
cmd - 8 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "8" ] || yabai -m space --focus 8 || (yabai -m space --create; yabai -m space --focus last)
cmd - 9 : cur=$(yabai -m query --spaces --space | jq '.index'); [ "$cur" = "9" ] || yabai -m space --focus 9 || (yabai -m space --create; yabai -m space --focus last)

# Move window to prev/next space with CMD + SHIFT + ALT + [hl]:
cmd + shift + alt - h : yabai -m window --space prev --focus
cmd + shift + alt - l : yabai -m window --space next --focus


# ############### #
# WINDOW COMMANDS #
# ############### #

# Toggle fullscreen:
cmd + shift - f : yabai -m window --toggle native-fullscreen

# Toggle float:
cmd + alt - f : yabai -m window --toggle float --grid 4:4:1:1:2:2

# Toggle split (horizontal/vertical):
alt - t : yabai -m window --toggle split

# Toggle sticky:
alt - p : yabai -m window --toggle sticky

# Toggle PiP:
shift + alt - p : yabai -m window --toggle pip

# Focus window with CMD + [hjkl]
cmd - h : yabai -m window --focus west
cmd - j : yabai -m window --focus south
cmd - k : yabai -m window --focus north
cmd - l : yabai -m window --focus east

# Move window with CMD + SHIFT + [hjkl]
cmd + shift - h : yabai -m window --warp west
cmd + shift - j : yabai -m window --warp south
cmd + shift - k : yabai -m window --warp north
cmd + shift - l : yabai -m window --warp east

# Move window to space with CMD + SHIFT + [0-9]:
cmd + shift - 1 : yabai -m window --space 1 --focus
cmd + shift - 2 : yabai -m window --space 2 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 3 : yabai -m window --space 3 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 4 : yabai -m window --space 4 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 5 : yabai -m window --space 5 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 6 : yabai -m window --space 6 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 7 : yabai -m window --space 7 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 8 : yabai -m window --space 8 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 9 : yabai -m window --space 9 --focus  || (yabai -m space --create; yabai -m window --space last --focus)
cmd + shift - 0 : yabai -m window --space 10 --focus || (yabai -m space --create; yabai -m window --space last --focus)


# ######################## #
# BLACKLISTED APPLICATIONS #
# ######################## #

.blacklist [
  "microsoft excel"
  "microsoft word"
]
