# ##### #
# FONTS #
# ##### #

# BEGIN_KITTY_FONTS
font_family      family="JetBrainsMonoNL Nerd Font Mono"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS

symbol_map U+2600-U+26FF Noto Color Emoji

{{- if eq .chezmoi.os "linux" }}
font_size 12.0
{{- else if eq .chezmoi.os "darwin" }}
font_size 14.0
{{- end }}


# ######################### #
# TEXT CURSOR CUSTOMIZATION #
# ######################### #


# ########## #
# SCROLLBACK #
# ########## #

# number of lines
scrollback_lines 10000
# size in MB
scrollback_pager_history_size 50

# ##### #
# MOUSE #
# ##### #

show_hyperlink_targets yes
underline_hyperlinks always
copy_on_select clipboard

## MOUSE ACTIONS ##

mouse_map right press ungrabbed mouse_select_command_output


# ################## #
# PERFORMANCE TUNING #
# ################## #


# ############# #
# TERMINAL BELL #
# ############# #


# ############# #
# WINDOW LAYOUT #
# ############# #

window_border_width 1pt
inactive_text_alpha 0.7

{{- if eq .chezmoi.os "linux" }}
hide_window_decorations yes
{{- else if eq .chezmoi.os "darwin" }}
hide_window_decorations titlebar-only
{{- end }}


# ####### #
# TAB BAR #
# ####### #

tab_bar_min_tabs 2
tab_bar_style powerline
tab_powerline_style angled
tab_activity_symbol ...

# ############ #
# COLOR SCHEME #
# ############ #

# background_opacity 0.85
# dynamic_background_opacity yes

# BEGIN_KITTY_THEME
# Catppuccin-Mocha
include current-theme.conf
# END_KITTY_THEME


# ######## #
# ADVANCED #
# ######## #

# Remote control for Neovim/kitty navigation integration:
allow_remote_control yes
{{- if eq .chezmoi.os "linux" }}
listen_on unix:@mykitty
{{- else if eq .chezmoi.os "darwin" }}
listen_on unix:/tmp/mykitty
{{- end }}
shell_integration no-cursor
notify_on_cmd_finish invisible 15 notify

{{- if eq .chezmoi.os "darwin" }}
macos_option_as_alt yes
{{- end }}


# ################## #
# KEYBOARD SHORTCUTS #
# ################## #

# Swap new window keyboard shortcuts around:
map kitty_mod+enter new_window_with_cwd
map kitty_mod+alt+enter new_window

# View all kitty keyboard shortcuts:
map kitty_mod+/ kitten keymap.py

# Cross-terminal navigation (Neovim sets IS_NVIM to pass keys through)
map ctrl+j neighboring_window down
map ctrl+k neighboring_window up
map ctrl+h neighboring_window left
map ctrl+l neighboring_window right

# Unset the mapping to pass the keys to neovim
map --when-focus-on var:IS_NVIM ctrl+j
map --when-focus-on var:IS_NVIM ctrl+k
map --when-focus-on var:IS_NVIM ctrl+h
map --when-focus-on var:IS_NVIM ctrl+l

# Resize kitty windows (kitten checks IS_NVIM and passes key to neovim if set)
map alt+j kitten relative_resize.py down  3 alt+j
map alt+k kitten relative_resize.py up    3 alt+k
map alt+h kitten relative_resize.py left  3 alt+h
map alt+l kitten relative_resize.py right 3 alt+l

# kitty-scrollback.nvim Kitten alias
action_alias kitty_scrollback_nvim kitten "$HOME/.local/share/nvim/lazy/kitty-scrollback.nvim/python/kitty_scrollback_nvim.py"
# Browse scrollback buffer in nvim
map kitty_mod+h kitty_scrollback_nvim
# Browse output of the last shell command in nvim
map kitty_mod+g kitty_scrollback_nvim --config ksb_builtin_last_cmd_output
# Show clicked command output in nvim
mouse_map ctrl+shift+right press ungrabbed combine : mouse_select_command_output : kitty_scrollback_nvim --config ksb_builtin_last_visited_cmd_output

{{- if .forWork }}

# Open default session:
map kitty_mod+s>d goto_session "$HOME/Code/work/default.kitty-session"

{{- end }}
