{{ if .forWork -}}
return {
  {
    "neovim/nvim-lspconfig",
    opts = {
      servers = {
        gopls = {
          settings = {
            gopls = {
              gofumpt = false,
            },
          },
        },
      },
    },
  },
  {
    "stevearc/conform.nvim",
    optional = true,
    opts = {
      formatters_by_ft = {
        go = { "goimports", "gofmt" },
      },
    },
  },
  {
    "coder/claudecode.nvim",
    opts = {
      focus_after_send = true,
      terminal = {
        split_width_percentage = 0.50,
      },
    },
  },
  {
    "erichlf/devcontainer-cli.nvim",
    dependencies = { "akinsho/toggleterm.nvim" },
    init = function()
      require("devcontainer-cli").setup({
        interactive = false,
        toplevel = true,
        remove_existing_container = true,
        dotfiles_repository = "https://github.com/MarkArranz/dotfiles.git",
        dotfiles_branch = "main",
        dotfiles_targetPath = "~/dotfiles",
        dotfiles_install_command = "install-devcontainer.sh",
        shell = "bash",
        nvim_binary = "nvim",
        log_level = "debug",
        console_level = "info",
      })
    end,
  },
}
{{- end }}
