{{- if eq .chezmoi.os "linux" -}}

# Automatically start a uwsm managed Hyprland session when logging in to tty1:
if uwsm check may-start; then
  exec uwsm start hyprland.desktop
fi

{{- else if eq .chezmoi.os "darwin" -}}

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv zsh)"

{{- end }}
