export PATH="$HOME/.local/bin:$PATH"
export ZSH="$ZDOTDIR/ohmyzsh"

zstyle ':omz:update' mode disabled # use chezmoiexternal instead

HYPHEN_INSENSITIVE="true"
COMPLETION_WAITING_DOTS="true"

ZSH_CUSTOM="$ZDOTDIR/custom"

plugins=(
  aliases
  alias-finder
  brew
  chezmoi
  direnv
  docker
  eza
  fzf
  git
  starship
  zoxide
  zsh-autosuggestions
  zsh-syntax-highlighting
)

# Optimized installation of zsh-completion plugin.
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src
autoload -U compinit && compinit

source $ZSH/oh-my-zsh.sh

{{- if .forWork }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
{{- end }}

# Fall back to --help parsing for tools without dedicated completions
for cmd in /opt/homebrew/bin/*(.N:t) ~/.local/bin/*(.N:t); do
  (( $+_comps[$cmd] )) || compdef _gnu_generic $cmd 2>/dev/null
done
